<table>
  <% @model_list.each do |model| %>
  <tr>
    <td>
      <%= model.title %>
    </td>
    <td>
      <%= model.year %>
    </td>
    <td>
      <%= model.duration %>
    </td>
    <td>
      <%= model.description %>
    </td>
    <td>
      <img src="<%= model.image_url %>">
    </td>



  </tr>


  <% end %>
