<table>
  <% @model_list.each do |model| %>
  <tr>
    <td>
      <%= model.title %>
    </td>
    <td>
      <%= model.year %>
    </td>
    <td>
      <%= model.duration %>
    </td>
    <td>
      <%= model.description %>
    </td>
    <td>
      <img src="<%= model.image_url %>">
    </td>
    <td>
      <a href="/movies/<%= model.id %>"> See in Detail </a>
      <a href="/movies/<%= model.id %>/edit"> Update </a>
      <a href="/delete_movie/<%= model.id %>"> Delete </a>
    </td>




  </tr>


  <% end %>
