<table>
  <% @model_list.each do |model| %>
  <tr>
    <td>
      <%= model.name %>
    </td>
    <td>
      <%= model.bio %>
    </td>
    <td>
      <%= model.dob %>
    </td>
    <td>
      <img src="<%= model.image_url %>">
    </td>
    <td>
      <a href="/dirctors/<%= model.id %>"> See in Detail </a>
      <a href="/dirctors/<%= model.id %>/edit"> Update </a>
      <a href="/delete_director/<%= model.id %>"> Delete </a>
    </td>




  </tr>


  <% end %>
